<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | Pico - Torrent</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <div class="error-container">
        <p><%= message %></p>
        <% if (error.stack && process.env.NODE_ENV === 'development') { %>
        <pre><%= error.stack %></pre>
        <% } %>
        <p>
          <a href="javascript:history.back()">Go Back</a> or
          <a href="/">Return Home</a>
        </p>
      </div>
    </div>
  </body>
</html>
